.explorer {
  background-color: black;
  border-right: 1px solid #aaa;
  width: 200px;
  color: white;

  .node {
    padding: 0.5rem 1rem;
    cursor: pointer;

    &:hover {
      background-color: rgba(255,255,255,0.2);
    }
  }

  .file {
    color: white;
  }

  .folder {
    color: #FFCCFF;

    &.open {
      .label:after {
        content: 'v';
        float: right;
      }
    }

    &.closed {
      .label:after {
        content: '>';
        float: right;
      }
    }

    .children {
      padding-left: 0rem;
      width: 100%;
  
      .node {
        margin-right: -1rem;
      }
  
      &:not(:empty) {
        margin-top: 0.5rem;
      }
    }
  }
}