.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  color: white;
  font-family: Arial, Helvetica, sans-serif;

  * {
    box-sizing: border-box;
  }
}

.col {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}